body{
background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
background-size: cover;
}

#puzzel {
	float: left;
	width:600px;
  height:600px;
	margin: 0;
	padding: 0;
	/* font-family: 'Roboto', sans-serif; */
	border-collapse: collapse;
	border: 1px solid black;
}
.cross{
	text-align: center;
	width:50px;
	height:25px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid white;
  background-color: #440066;
  color: white;
}

  .word{
  	text-align: center;
  	width:60px;
  	height:25px;
  	margin: 0;
  	padding: 0;
  	border-collapse: collapse;
  	border: 1px solid white;
    background-color: #440066;
    color: white;

  }
tr{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

#mainDiv{
	margin-left: 350px;
}

*{
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

.about {
	/* font-family: "Merienda"; */
  display: inline-block;
  float: left;
  width: 50%;
  border-style: solid 15px;
  margin: 1%;
  min-height: 450px;
}

p {
	  color: white;
}

h2 {
	  color: white;
}

h1{
	  color: white;
}
