header {
background-color: #666
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
}

body{
background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
background-size: cover;
}
/* Style the footer */
h1 {
text-align: center;
font-size: 19px;
}

section:after {
content: "";
display: table;
clear: both;
}
article {
float: left;
margin: 20px;
width: 45%;
background-color:
height: 300px;
align-self: center;
color: white;
}

footer {
background-color: #777
padding: 10px;
text-align: center;
color: white;
width: 100%;
font-size: 30px;
}
p{
text-align: center;
font-size: 19px;
font-family:"Gaegu";
}
.line {
width: 80%;
border-bottom: solid 1.5px #404040;
margin-left: 10%;
margin-right: 10%;

}
.bottomline{
text-align: center;
padding: 12px;
}
.bottomline.{
text-align: center;
padding: 12px;
}

.GWC {
text-align: center;
padding: 12px;
}

*{
  font-family: "Merienda";
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
